body {
  background: #adc7e0;
  background: linear-gradient(to bottom, #adc7e0 0%, #e7ecf0 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 30px);
}

aside {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 270px;
  width: 20%;
}

aside header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 55px;
  width: 100%;
}

header :nth-child(2) {
  margin: 0 auto;
}

aside header h4 {
  display: block;
  width: 80%;
}

header div {
  display: flex;
  flex-direction: row;
}

h3, h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

h4, .fa-chevron-left {
  color: #7d7e7d;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

.fa-chevron-left {
  color: #386283;
}

.order-search {
  border-bottom: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0;
  border-right: 0 solid;
  border-top: 1px solid #b0b0b0;
  height: 18px;
  margin: 0 0 5px 10px;
}

.search-for-order, .refresh-orders {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.search-for-order {
  background: url("../img/search-icon.png");
  background-size: cover;
  border-bottom: 1px solid #b0b0b0;
  border-top: 1px solid #b0b0b0;
}

.refresh-orders {
  background: url("../img/update-icon.png");
  background-size: cover;
  border-bottom: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  border-top: 1px solid #b0b0b0;
}

input[placeholder] {
  font-style: italic;
}

.all-orders {
  background-color: #ffffff;
  overflow: auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
}

.order-item {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-content: space-between;
}

.order-item div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}

.order-item :last-child {
  align-items: flex-end;
}

.order-item>div :nth-child(n) {
  padding-bottom: 10px;
}

.order-item:hover {
  background-color: #abd3fb;
  cursor: pointer;
}

.selected-order {
  background-color: #e8eff7;
}

.order-number {
  color: #000000;
  font-size: 18px;
}

time {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px 0;
}

.in-time {
  color: #11bf57;
}

.urgent {
  color: #eda460;
}

footer {
  align-items: center;
  background-color: #2f3b47;
  box-sizing: border-box;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  width: 100%;
}

footer i {
  color: #e8eefe;
  font-size: 14px;
  padding: 0 10px;
}

aside footer {
  border-right: 1px solid #ececec;
}

article {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 80%;
}

article header {
  background-color: #eff4f8;
  width: 100%;
}

article h3 {
  padding: 10px 30px 10px;
}

article h4 {
  border-bottom: 3px solid #e4ebf1;
}

main {
  background-color: #ffffff;
  overflow: auto;
  width: 100%;
}

.order-title {
  background-color: #eff4f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-title div {
  display: flex;
  flex-direction: column;
}

.order-title :nth-child(2) {
  align-items: flex-end;
}

.order-title span {
  padding: 5px 30px;
}

.order-title span span {
  padding: 5px 0;
}

span.total-price {
  font-size: 20px;
  padding-top: 10px;
}

.control-buttons {
  background-color: #eff4f8;
  border-bottom: 3px solid #dae8f3;
}

.client-info, .address-info {
  border-radius: 50%;
  border: 1px solid #497eaa;
  display: inline-block;
  height: 45px;
  margin: 10px;
  position: relative;
  width: 45px;
}

.client-info {
  background: url("../img/person-icon.png") no-repeat center;
  background-size: 60%;
}

.address-info {
  background: url("../img/truck-icon.png") no-repeat center;
  background-size: 70%;
  margin-left: 30px;
}

.address-info:hover {
  background: #497eaa url("../img/hover-truck-icon.png") no-repeat center;
  background-size: 70%;
}

.client-info:hover {
  background: #497eaa url("../img/hover-person-icon.png") no-repeat center;
  background-size: 70%;
}

.selected-first-button:before, .selected-second-button:before {
  border-bottom: 3px solid #497eaa;
  bottom: -15px;
  content: "";
  position: absolute;
  width: 45px;
}

.selected-first-button {
  background: #497eaa url("../img/hover-truck-icon.png") no-repeat center;
  background-size: 70%;
}

.selected-second-button {
  background: #497eaa url("../img/hover-person-icon.png") no-repeat center;
  background-size: 70%;
}

.shipping-address {
  background-color: #ffffff;
  padding-bottom: 15px;
}

.shipping-address div {
  border-top: 1px solid #b0b0b0;
  margin: 0 15px;
  padding: 15px 0 0 120px;
}

h3>span {
  color: black;
}

p {
  color: #7d7e7d;
  margin: 0;
}

p span {
  padding-left: 5px;
}

p :first-child {
  display: inline-block;
  text-align: right;
  width: 80px;
}

p :last-child {
  text-align: left;
}

.line-items {
  background-color: #f7f7f7;
  border-top: 3px solid #d7dce0;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.line-items h3 {
  font-size: 17px;
}

span.price {
  color: #000000;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

th {
  background-color: #f7f7f7;
  color: #7d7e7d;
  font-weight: 400;
  padding: 5px 10px;
  text-align: right;
}

tr {
  background-color: #ffffff;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px 0 1px 0;
}

tr :first-child {
  text-align: left;
}

td {
  padding: 5px 10px;
  text-align: right;
}

td p {
  color: #000000;
  font-weight: 600;
}

.product-search {
  margin: 0 30px 15px;
}

th i {
  cursor: pointer;
  font-size: 18px;
  padding-left: 10px;
}

.sorted-by {
  color: #ef654f;
}

@media (min-width: 1500px) {
  body {
    margin: 0 auto;
    width: 1200px;
  }
}