<div id="productWindow">
    <a href="#" class="overlay" id="productCreationWindow"></a>
    <div class="popup">
        <div class="header"> CREATE PRODUCT</div>
        <form id="productForm" class="form" onsubmit="return false">
            <input name="name" type="text" class="info-input" placeholder="Product name" required>
            <input name="price" type="number" class="info-input" placeholder="Price" required>
            <input name="quantity" type="number" class="info-input" placeholder="Quantity" required>
            <input name="currency" type="text" class="info-input" placeholder="Currency" required>
            <input id="createProductButton" class="submit-button" type="submit" value="SUBMIT">
        </form>
        <a id="closeProductCreationWindow" class="close" title="Close" href="#"></a>
    </div>
</div>